﻿@model IEnumerable<AdministracionGeneral.Models.busquedaCliente_log>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Busquedas</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {

        

        $("button").click(function () {
            var oID = $(this).attr("id");

        $.ajax({
            data: { "id": oID},
            type: 'POST',
            url: '@Url.Action("Delete", "BusquedasDeClientes")',
            success: function (data) {
                if (data.rta == true) {
                    //alert(oID);
                    //$(this).parent().parent().remove();
                    //$(this).parent().parent().remove();
                    //$("button.AccionEliminar#" + oID).parent().parent().remove();
                } else {
                    alert("hubo un problema con el borrado");
                    return;
                }
            },
            error: function (response) {
                alert("¡Error!");
                return;
            }
            });

            $(this).parent().parent().remove();

        });

               
    });
</script>


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idResponsable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.query)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadResultados)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaProximaRevision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodoDeRevision)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idResponsable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.query)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadResultados)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaProximaRevision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.periodoDeRevision)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.id })*@

            @*<a href="#" class="AccionEliminar" id="@item.id"> Eliminar </a>*@
            <button class="AccionEliminar" id="@item.id"> Eliminar</button>


        </td>
    </tr>
}

</table>
